<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_hand" >

  <xacro:include filename="$(find robotiq_hand_description)/urdf/robotiq_hand.urdf.xacro" />

  <gazebo>
    <plugin name="robotiq_hand_plugin" filename="libRobotiqHandPlugin.so">
      <side>left</side>
      <kp_position>50.0</kp_position>
      <kd_position>0.5</kd_position>
    </plugin> 
  </gazebo> 

  <xacro:robotiq_hand prefix="l_" reflect="-1" parent="ee_link">
    <origin xyz="0 0 0" rpy="1.57 1.57 0"/>
  </xacro:robotiq_hand>  
</robot>
